* {
   margin: 0;
   padding: 0;
}

button {
   height: 7rem;
   width: 1rem;
   margin: 0;
}

button:hover {
   background-color: red;
}

.black {
   width: .75rem;
   background-color: black;
   border: 1px solid white;
}

.black:hover {
   background-color: blue;
}
