* {
   margin: 0;
   padding: 0;
}

.keyboard {
   height: 7rem;
   width: 68vw;
   margin: 10rem auto;
}

button {
   height: 7rem;
   width: 1rem;
   margin: 0;
}

button:hover {
   background-color: red;
}

.black {
   width: .75rem;
   height: 5rem;
   background-color: black;
   border: 1px solid white;
   transform: translate(.8rem, 5rem);
}

.black:hover {
   background-color: blue;
}

@media only screen and (max-width: 1200px) {
  .keyboard { 
     width: 75vw;
  }
}
