* {
   margin: 0;
   padding: 0;
}

.keyboard {
   zoom: 8;
   height: 7rem;
   width: 100vw;
   margin: 0
}

button {
   height: 7rem;
   width: 1rem;
   margin: 0;
   font-size: 5pt;
   border: 0.5px solid #AAA
}

.DO {
   background-color: #fab256;
}

button:hover {
   background-color: red;
}

button:active {
   background-color: red;
   background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(101,101,101,1) 100%);
   border: 2px inset #555;
}

label {
   height: 1rem;
   width: 10rem;
   margin-left: 16rem;
   font-family: sans-serif;
   font-size: 11.5px;
}

.black {
   width: .75rem;
   height: 5rem;
   background-color: black;
   border: 1px solid white;
   transform: translate(.8rem, 5rem);
}

.black:hover {
   background-color: blue;
}

@media screen and (min-width: 1000px) {
    .keyboard {
        zoom: 4;
    }
}
