* {
   margin: 0;
   padding: 0;
   white-space: nowrap;
}

body {
   text-align: center;
   touch-action: pinch-zoom;
}

.keyboard {
   display: block;
   height: 50vh;
   width: 800vw;
   margin: auto;
   touch-action: manipulation;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
}

button {
   height: 7rem;
   width: 1rem;
   margin: 0;
   font-size: 5pt;
   border: 0.5px solid #000;
   touch-action: manipulation;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
}

.DO {
   background-color: #fab256;
}

label {
   height: 1rem;
   width: 10rem;
   margin-left: 16rem;
   font-family: sans-serif;
   font-size: 11.5px;
}

.black {
   width: .75rem;
   height: 5rem;
   background-color: black;
   border: 1px solid white;
   transform: translate(.8rem, 5rem);
}

.black:hover {
   background-color: blue;
}

#keyC2 {
   background-color: #990000;
}
#keyD2 {
   background-color: #992200;
}
#keyE2 {
   background-color: #999900;
}
#keyF2 {
   background-color: #009900;
}
#keyG2 {
   background-color: #000099;
}
#keyA2 {
   background-color: #330033;
}
#keyB2 {
   background-color: #990055;
}
   
#keyC3 {
   background-color: #CC0000;
}
#keyD3 {
   background-color: #CC3300;
}
#keyE3 {
   background-color: #CCCC00;
}
#keyF3 {
   background-color: #00CC00;
}
#keyG3 {
   background-color: #0000CC;
}
#keyA3 {
   background-color: #550055;
}
#keyB3 {
   background-color: #CC0099;
}


#keyC4 {
   background-color: #FF0000;
}
#keyD4 {
   background-color: #FF5500;
}
#keyE4 {
   background-color: #FFFF00;
}
#keyF4 {
   background-color: #00FF00;
}
#keyG4 {
   background-color: #0000FF;
}
#keyA4 {
   background-color: #990099;
}
#keyB4 {
   background-color: #FF00CC;
}



#keyC5 {
   background-color: #FF3333;
}
#keyD5 {
   background-color: #FF9900;
}
#keyE5 {
   background-color: #FFFF55;
}
#keyF5 {
   background-color: #33FF33;
}
#keyG5 {
   background-color: #0033FF;
}
#keyA5 {
   background-color: #993399;
}
#keyB5 {
   background-color: #FF33CC;
}



#keyC6 {
   background-color: #FF5555;
}
#keyD6 {
   background-color: #FFAA00;
}
#keyE6 {
   background-color: #FFFF99;
}
#keyF6 {
   background-color: #55FF55;
}
#keyG6 {
   background-color: #0055FF;
}
#keyA6 {
   background-color: #995599;
}
#keyB6 {
   background-color: #FF55CC;
}


#keyC7 {
   background-color: #FF9999;
}




button:hover {
   background-color: #AAA;
}

button:active {
   background-color: #555;
   background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(101,101,101,1) 100%);
   border: 1px inset #555;
}
@media screen and (min-width: 1000px) {
    .blackKeys {
       transform:translateX(-13px);
    }
}

@media screen and (min-width: 2000px) {
    .blackKeys {
       transform:translateX(-13px);
    }
}
